<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%=title%> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .padd {
            padding: 2%;
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>

<body>
    <section class="container-fluid">
        <article class="row padd">
            <article class="col-sm-6">
                <form class="form" id="registra_post">
                    <div class="form-group">
                        <input type="text" name="titulo_blog" class="form-control" placeholder="Titulo">
                    </div>
                    <div class="form-group">
                        <textarea name="post_content" class="form-control" rows="8" cols="100"></textarea>
                    </div>
                </form>
            </article>
            <article class="col-sm-2" id='my_app'>
                <button type="button" class="btn btn-outline-secondary btn-block" id="btn_publicar">Publicar</button>
                <span id="message"></span>
            </article>
        </article>
    </section>
    <script src="../../public/events.js"></script>
    <script src="../../public/methods.js"></script>
    
</body>

</html>