<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%=title%> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .padd {
            padding: 2%;
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>

<body>
    <section class="container-fluid">
        <article class="row padd">
            <article class="col-sm-6 text-center">
                <% datos.forEach(function(el,cc) { %>
                <div class="card">
                    <div class="card-body">
                        <p><%= el['title'].replace('\n', '<br>')%></div></p>
                    </div>
                <% }); %>
                <p>
                <nav aria-label="nav_post">
                    <ul class="pagination justify-content-center">
                        <%if(total >= 1)
                        //  si el total es mayor a 0 se generan los botones depaginado 
                        %>
                        <% for(let i = 0; i< total; i++) { 
                            // ciclo para generar los botones, se le suma 1 para mejoar la estetica de navegacion
                            %>
                        <li class="page-item"></li><a class="page-link" href='/paginate/<%=i+1%>'> <%=i+1%></a></li>
                        <% }; %>
                        <% %>  
                    </ul>
                </nav>
                </p> 
            </article>

        </article>
    </section>


</body>

</html>